* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    
    
}

@import 'sass/colors';
@import 'sass/layout';
@import 'sass/spacing';
@import 'sass/typography';


html{
    scroll-behavior: smooth;
    
}

body {
    //background-color: $black-normal;
    background-color: $black-normal;
    font-family: 'Saira', sans-serif;
    overflow-x: hidden;
    width: 100vw;

}



.border {
    border: 2px solid red
}

.border2 {
    border: 2px solid rgb(0, 128, 255)
}


@import 'sass/menu';
@import 'sass/bgs';
@import 'sass/icons';
@import 'sass/buttons';
@import 'sass/animations';
@import 'sass/accordion';
