* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    
}

@import 'sass/colors';
@import 'sass/layout';
@import 'sass/spacing';
@import 'sass/typography';


html{
    scroll-behavior: smooth;
    
}

body {
    //background-color: $black-normal;
    background-color: $black-normal;
    font-family: 'Saira', sans-serif;
    overflow-x: hidden;
    width: 100vw;

}

mark {
    display: inline-block;
    background: rgba(255,1,108,1);
    background: linear-gradient(90deg, rgba(255,1,108,1) 0%, #ea4c8e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border {
    border: 2px solid red
}
.hidden {
    overflow: hidden;
}
.border2 {
    border: 2px solid rgb(0, 128, 255)
}

.border-none {
    border: none
}


@import 'sass/menu';
@import 'sass/bgs';
@import 'sass/icons';
@import 'sass/buttons';
@import 'sass/animations';
@import 'sass/accordion';
