@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

.color-white {
  color: rgb(244, 244, 244);
}

.color-black {
  color: #080007;
}

.gradient-normal {
  display: inline-block;
  background: rgb(255, 1, 108);
  background: linear-gradient(90deg, rgb(255, 1, 108) 0%, rgb(159, 17, 77) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-dark {
  background: rgb(255, 1, 108);
  background: linear-gradient(90deg, rgba(255, 0, 106, 0.24) 0%, rgb(255, 1, 108) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-light {
  display: inline-block;
  background: rgb(255, 1, 108);
  background: linear-gradient(90deg, rgba(255, 1, 108, 0) 0%, rgb(255, 1, 108) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-1 {
  width: calc(8.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-1 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-2 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-3 {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-3 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-4 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-5 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-6 {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-6 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-7 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-8 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-9 {
  width: calc(75% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-9 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-10 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-11 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-12 {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-12 {
    width: calc(100% - 20px);
    float: none;
  }
}

.grid-nobreak-1 {
  width: calc(8.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-2 {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-3 {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-4 {
  width: calc(33.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-5 {
  width: calc(41.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-6 {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-7 {
  width: calc(58.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-8 {
  width: calc(66.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-9 {
  width: calc(75% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-10 {
  width: calc(83.3333333333% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-11 {
  width: calc(91.6666666667% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-12 {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 16px 0px;
  float: left;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 24px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;*/
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 16px;
  }
}

.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-end-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.flex-start-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-end-column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .hero {
    padding: 144px 8px 32px 8px;
  }
}

.master-profile img {
  width: 37px;
  height: 37px;
  border: 1px solid rgba(255, 1, 108, 0.5);
  transition: 1s ease;
}
.master-profile img:hover {
  border: 1px solid rgba(255, 1, 107, 0.951);
  border-radius: 3px;
}
.master-profile span {
  color: #f2cada;
}
.master-profile span strong {
  color: #958D90;
  font-weight: bold;
  font-size: 18px;
}

.dns {
  display: inline-flex;
  align-items: center;
  color: rgb(244, 244, 244);
}

.bcm {
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 1, 108, 0.24) 0%, rgb(255, 1, 108) 60%, rgb(255, 1, 108) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 48%;
  top: -30%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-transform: capitalize;
}
@media screen and (max-width: 960px) {
  .bcm {
    font-size: 18px;
  }
}

.text-change {
  display: inline-block;
  color: rgb(244, 244, 244);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 15px;
  font-size: 54px;
}
@media screen and (max-width: 960px) {
  .text-change {
    font-size: 38px;
  }
}
@media screen and (max-width: 620px) {
  .text-change {
    font-size: 24px;
  }
}

.dud {
  color: #FF016C;
  filter: drop-shadow(0 0 0.5em rgb(255, 0, 123));
}

.s-0 {
  margin: 0;
  padding: 0;
}

.mt-110 {
  margin-top: 110px;
}
@media screen and (max-width: 960px) {
  .mt-110 {
    margin-top: 0px;
  }
}

.mt-80 {
  margin-top: 88px;
}
@media screen and (max-width: 960px) {
  .mt-80 {
    margin-top: 64px;
  }
}

.ml-40 {
  margin-left: 40px;
}
@media screen and (max-width: 960px) {
  .ml-40 {
    margin-left: 4px;
  }
}

.space-220 {
  padding: 220px 24px;
}
@media screen and (max-width: 960px) {
  .space-220 {
    padding: 96px 16px;
  }
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

h1 {
  display: inline-block;
  color: #FF016C;
  z-index: 5;
  background: linear-gradient(90deg, rgba(255, 1, 108, 0.24) 0%, rgb(255, 1, 108) 60%, rgb(255, 1, 108) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7px;
  font-family: "Saira", sans-serif;
  font-size: 64px;
  line-height: 110%;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Saira", sans-serif;
    font-size: 48px;
    line-height: 110%;
    font-weight: 400;
  }
}
@media screen and (max-width: 620px) {
  h1 {
    font-family: "Saira", sans-serif;
    font-size: 38px;
    line-height: 120%;
    font-weight: 400;
  }
}

h2 {
  color: #f2cada;
  font-family: "Saira", sans-serif;
  font-size: 52px;
  line-height: 110%;
  font-weight: 100;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Saira", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 100;
  }
}
@media screen and (max-width: 620px) {
  h2 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: 100;
  }
}

h3 {
  color: #FF016C;
  font-family: "Saira", sans-serif;
  font-size: 42px;
  line-height: 120%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: 200;
  }
}
@media screen and (max-width: 620px) {
  h3 {
    font-family: "Saira", sans-serif;
    font-size: 24px;
    line-height: 130%;
    font-weight: 200;
  }
}

h4 {
  color: rgb(244, 244, 244);
  font-family: "Saira", sans-serif;
  font-size: 26px;
  line-height: 120%;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Saira", sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
  }
}
@media screen and (max-width: 620px) {
  h4 {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
  }
}

h5 {
  color: #f2cada;
  font-family: "Saira", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
  }
}

h6 {
  color: #FF016C;
  font-family: "Saira", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  h6 {
    font-family: "Saira", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
  }
}

.h7 {
  font-family: "Saira", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .h7 {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
}

p {
  letter-spacing: 0px;
  color: #605d5f;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }
}
@media screen and (max-width: 620px) {
  p {
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
  }
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.p1 {
  font-family: "Mukta", sans-serif;
  font-size: 28px;
  line-height: 120%;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p1 {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    line-height: 130%;
    font-weight: 300;
  }
}
@media screen and (max-width: 620px) {
  .p1 {
    font-family: "Mukta", sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
  }
}

.p2 {
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .p2 {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 130%;
    font-weight: 200;
  }
}

.p3 {
  color: #807c7f;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .p3 {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }
}

.p4 {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .p4 {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
  }
}

.p5 {
  font-family: "Mukta", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .p5 {
    font-family: "Mukta", sans-serif;
    font-size: 13px;
    line-height: 150%;
    font-weight: 200;
  }
}

.p-title {
  font-size: 18px;
}
@media screen and (max-width: 960px) {
  .p-title {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
  color: #f2cada;
}

span {
  display: inline-block;
}

.letter-h1 {
  color: #080007;
  letter-spacing: 1px;
  text-transform: none;
  font-family: "Saira", sans-serif;
  font-size: 64px;
  line-height: 110%;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .letter-h1 {
    font-family: "Saira", sans-serif;
    font-size: 48px;
    line-height: 110%;
    font-weight: 400;
  }
}

strong {
  color: #080007;
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 130%;
    font-weight: 200;
  }
}

b {
  color: #504e4f;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-shadow {
  text-shadow: 1px 1px 24px rgba(0, 0, 0, 0.7);
}

.fw-2 {
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080007;
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.border {
  border: 2px solid red;
}

.border2 {
  border: 2px solid rgb(0, 128, 255);
}

header {
  width: 100%;
  position: fixed;
  z-index: 998;
  background-color: transparent;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(7, 0, 5);
  background: linear-gradient(180deg, rgb(7, 0, 5) 11%, rgba(7, 0, 5, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070005", endColorstr="#070005", GradientType=1);
  opacity: 0;
  transition: 3s ease;
}

.active-header {
  opacity: 1;
}

.nav-menu {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.bx {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.bx::after, .bx::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 3px;
  left: 50%;
  background: linear-gradient(90deg, rgba(18, 2, 9, 0) 0%, rgb(255, 1, 108) 100%);
  transition: 0.4s ease;
  transform: translate(-50%);
  border-radius: 15px;
}
.bx::after {
  top: 30%;
}
.bx::before {
  top: 60%;
}
.bx.active::after {
  width: 34px;
  background-color: #9F114D;
  top: 50%;
  transform: translate(-50%) rotate(45deg);
}
.bx.active::before {
  background-color: #9F114D;
  width: 34px;
  top: 50%;
  transform: translate(-50%) rotate(-45deg);
}

.nav-link {
  font-size: 48px;
  color: #FAFCFC;
  position: relative;
  transition: 0.7s ease;
  font-family: "Saira", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 300;
  transition: 1s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -8%;
  width: 0%;
  height: 1px;
  transition: 1s ease;
  background: linear-gradient(270deg, #a10848 0%, rgba(240, 83, 167, 0) 100%);
}
.nav-link:hover {
  margin-left: 16px;
}
.nav-link:hover::after {
  width: 100%;
  background: linear-gradient(270deg, #a10848 0%, rgba(240, 83, 167, 0) 100%);
}
@media screen and (max-width: 960px) {
  .nav-link {
    font-size: 32px;
    line-height: 120%;
  }
}

.nav {
  max-width: 1440px;
  margin: 288px auto;
  padding: 96px 24px;
}
@media screen and (max-width: 960px) {
  .nav .grid-list-menu {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 960px) {
  .nav {
    margin: 100px auto;
  }
}

.grid-icons-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.grid-icons-menu span {
  color: #807c7f;
  font-size: 16px;
  font-weight: 300;
}
.grid-icons-menu .nav-icon {
  transition: 1s ease;
  padding: 15px;
}
.grid-icons-menu .nav-icon:hover {
  transform: translateY(-14px);
}

.menu {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #040002 0%, rgba(7, 5, 6, 0) 100%);
  z-index: 990;
  opacity: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*

}

.square {
    width: 50px;
    height: 50px;
    background-color: red;
}

.square-2 {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 68);
}







.menu-hamburguer {
    position: relative;
    width: 70px;
    height: 70px;
    //border: 1px solid yellow;
    cursor: pointer;
    z-index: 10000;

    &::after {
        content: '';
        position: absolute;
        width: 44px;
        height: 3px;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        background: rgb(18, 2, 9);
        background: linear-gradient(90deg, rgba(18, 2, 9, 0) 0%, rgba(255, 1, 108, 1) 100%);
        transition: .4s ease;
    }

    &::before {
        content: '';
        position: absolute;
        width: 44px;
        height: 3px;

        top: 55%;

        left: 50%;

        transform: translate(-50%);

        background: rgb(18, 2, 9);
        background: linear-gradient(90deg, rgba(18, 2, 9, 0) 0%, rgba(255, 1, 108, 1) 100%);
        transition: .4s ease;
    }


}



.menu-hamburguer.active::after {
    transform: rotate(45deg);
    left: 20%;
}

.menu-hamburguer.active::before {
    transform: rotate(-45deg);
    left: 20%;
    top: 45%;
}

.text {
    font-family: 'Saira', sans-serif;
    color: $white-light;
    font-size: 16px;
    font-weight: 400;
} 



.menu {
    width: 100%;
    height: 100vh;
    z-index: 990;
    opacity: 1;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;

    //pointer-events: none;


    @include responsive(s) {
        display: flex;
        align-items: start;
        padding: 16px 0px;

    }


    .menu-container {
        width: $container-xl;



        @include responsive(s) {
            margin: 96px auto;
            padding: 24px 24px;
            flex-direction: column;
        }

        > div:nth-child(2) {

            @include responsive(s) {
                margin-top: 32px;
                justify-content: start;
                padding: 48px 16px;
            }
        }
    }




}


nav {
    a {
        position:relative;
        cursor: pointer;
        transition: .7s ease;


        &::before {
            content: '';
            width: 0%;
            height: 1px;
            background: linear-gradient(90deg, rgba(18, 2, 9, 0) 0%, rgba(255, 1, 108, 1) 100%);
            position: absolute;
            left: 5px;
            top: 99%;
            transition: .7s ease;
        }

        &:hover {
            padding-left: 16px;

            &::before {
                width: 100%;
            }
        }
    }

    .nav-item {
        font-size: 38px;
        line-height: 120%;
        font-weight: 300;

        @include responsive(s) {
            font-size: 32px;
            font-weight: 300;
        }


    }
}

.menu-info {
    h4 {
        font-weight: 200;
    }
}

.byme {
    color: $gray-4;
}


.grid-icons {

    a {

        padding: 10px;
        transition: .7s ease;

        &:hover {
            transform: translateY(-8px);
        }
    }
}

*/
.bg {
  position: relative;
  width: auto;
  height: auto;
  z-index: -9999;
  pointer-events: none;
}
.bg svg {
  width: auto;
  height: auto;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.c1 {
  transform: translate(-50%);
}

.c1-move {
  animation: c1 1s linear forwards;
}

.c2 {
  opacity: 0;
}

.c2-move {
  opacity: 1;
  animation: c2 0.9s linear forwards;
}

.c3 {
  opacity: 0;
}

.c3-move {
  opacity: 1;
  animation: c3 1.2s linear forwards;
}

.c4 {
  transform: translate(50%);
}

.c4-move {
  animation: c4 1s linear forwards;
}

@media screen and (max-width: 620px) {
  .btn-area {
    flex-wrap: wrap;
  }
}

.primary-button {
  padding: 16px 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF016C;
  border-radius: 3px;
  /* Use 'background' em vez de 'background-color' */
  background: linear-gradient(90deg, rgba(18, 2, 9, 0.599877451) 0%, rgb(159, 17, 77) 100%);
  color: #d9d8d9;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (max-width: 620px) {
  .primary-button {
    margin-bottom: 24px;
    padding: 14px 35px;
  }
}
.primary-button .logo-0 {
  width: 25px;
  height: 25px;
  animation: rotate 4s linear infinite;
}
.primary-button .arrow-r {
  width: 20px;
  height: 20px;
  transition: 1s ease;
}
.primary-button:hover {
  opacity: 0.8;
}
.primary-button:hover .arrow-r {
  transform: translateX(8px);
}

@keyframes c1 {
  from {
    transform: translate(-50%);
  }
  to {
    transform: translate(130%);
    opacity: 0;
  }
}
@keyframes c2 {
  0% {
    stroke-dasharray: 0 1000;
    /* Início com traço de 0 e espaço de 1000 */
  }
  20% {
    stroke-dasharray: 200 1000;
    /* Após 20% do tempo, traço de 200 e espaço de 800 */
  }
  40% {
    stroke-dasharray: 400 1000;
    /* Após 40% do tempo, traço de 400 e espaço de 600 */
  }
  60% {
    stroke-dasharray: 700 800;
    /* Após 60% do tempo, traço de 600 e espaço de 400 */
  }
  80% {
    stroke-dasharray: 900 1000;
    /* Após 80% do tempo, traço de 800 e espaço de 200 */
  }
  100% {
    stroke-dasharray: 12000 1000;
    /* No final, traço de 1000 e espaço de 0 */
    opacity: 0;
  }
}
@keyframes c3 {
  0% {
    stroke-dasharray: 120 1000;
  }
  100% {
    stroke-dasharray: 1000 1000;
    opacity: 0;
  }
}
@keyframes c4 {
  from {
    transform: translate(50%);
  }
  to {
    transform: translate(-130%);
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */