//animations of project

//animation of circuit 
@keyframes c1 {
    from {
        transform: translate(-50%);
    }

    to {
        transform: translate(130%);
        opacity: 0;
    }
}

@keyframes c2 {
    0% {
        stroke-dasharray: 0 1000;
        /* Início com traço de 0 e espaço de 1000 */
    }

    20% {
        stroke-dasharray: 200 1000;
        /* Após 20% do tempo, traço de 200 e espaço de 800 */

    }

    40% {
        stroke-dasharray: 400 1000;
        /* Após 40% do tempo, traço de 400 e espaço de 600 */

    }

    60% {
        stroke-dasharray: 700 800;
        /* Após 60% do tempo, traço de 600 e espaço de 400 */

    }

    80% {
        stroke-dasharray: 900 1000;
        /* Após 80% do tempo, traço de 800 e espaço de 200 */

    }

    100% {
        stroke-dasharray: 12000 1000;
        /* No final, traço de 1000 e espaço de 0 */
        opacity: 0;
    }
}

@keyframes c3 {
    0% {
        stroke-dasharray: 120 1000;
    }


    100% {
        stroke-dasharray: 1000 1000;
        opacity: 0;
    }
}

@keyframes c4 {
    from {
        transform: translate(50%);
    }

    to {
        transform: translate(-130%);
        opacity: 0;
    }
}
//ends


//button animation

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
//ends





//logo anime
@keyframes draw {
    0% {
       
        fill-opacity: 0;
        stroke-dashoffset: 251;
        stroke-dasharray: 251;
        
         
    }

    50% {
        fill-opacity: 0;
        stroke-dashoffset: 51;
        stroke-dasharray: 51;
    }

    to {
        fill-opacity: 1;
        stroke-dasharray: 0;
    }
}


@keyframes line1 {
    0% {
        transform: rotate(0deg);
    
     
    }
    
    100% {
        transform: rotate(360deg);
  
    }
}


@keyframes photos-g1 {
    0% {
  
        transform: translate3d(0, -240px, 0);
    }

    100% {
       
        transform: translate3d(0, 0, 0);
    }
}


@keyframes photos-g2 {
    0% {
        transform: translate3d(0, -320px, 0);
    }
    100% {
        transform: translate3d(0, 100px, 0);
    }
}


@keyframes pulse {
    0%, 100% {
      box-shadow: 0 0 0 0 rgba(226, 30, 41, 0.7);
    }
    50% {
      box-shadow: 0 0 25px 25px rgba(226, 30, 41, 0);
    }
}