.bg {
    position: relative;
    width: auto;
    height: auto;
    z-index: -9999;
    pointer-events: none;

    svg {
        width: auto;
        height: auto;
        position: absolute;
        object-fit: cover;
        pointer-events: none;
        
    }
}


.c1 {
    transform: translate(-50%);
}

.c1-move {
    animation: c1 1s linear forwards;

}


.c2 {
    opacity: 0;
}

.c2-move {
    opacity: 1;
    animation: c2 .9s linear forwards;
}

.c3 {
    opacity: 0;
}

.c3-move {
    opacity: 1;
    animation: c3 1.2s linear forwards;

}



.c4 {
    transform: translate(50%);
    //animation: c4 1s linear forwards 2s infinite; 

}

.c4-move {

    animation: c4 1s linear forwards;

}