//Brand colors of project

$primary-dark: #9F114D;
$primary-normal: #FF016C;
$primary-light: #DF4586;

$black-dark: #060005;
$black-normal: #080007;
$black-light: #160212;

$white-light: #d9d8d9;
$white-normal: #DBD6EB;
$white-dark: #f2cada;

$gray-1: #403e3f;
$gray-2: #504e4f;
$gray-3: #605d5f;
$gray-4: #706d6f;
$gray-5: #807c7f;
$gray-6: #908d90;
$gray-7: #958D90;


// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #06A06F;
$green-light: #23C691;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


.color-whiteL{
    color: $white-light;
}

.gray-5 {
    color: $gray-5;
}
.color-black{
    color: $black-normal;
}




.gradient-normal {
    display: inline-block;
    background: rgb(255,1,108);
    background: linear-gradient(90deg, rgba(255,1,108,1) 0%, rgba(159,17,77,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.gradient-dark {
    background: rgb(255,1,108);

    background: linear-gradient(90deg, rgba(255, 0, 106, 0.24) 0%, rgba(255,1,108,1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.gradient-light {
    display: inline-block;
    background: rgb(255,1,108);
    background: linear-gradient(90deg, rgba(255,1,108,0) 0%, rgba(255,1,108,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 