// Layout of project

// Container-devices

$container-xl: 1440px;
$container-l: 1240px;
$container-m: 960px;
$container-s: 620px;
$gutter: 20px;

@mixin responsive($device) {
    @if $device ==xl {

        // For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device ==ul {

        // For resolutions upper 960px
        @media screen and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device ==l {

        // For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }

    @else if $device ==m {

        // For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-s) {
            @content;
        }
    }

    @else if $device ==s {

        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }

    @else if $device ==xs {

        // For resolutions less than 540px
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}


@function grid($col, $total: 12) {
    @return calc($col / $total) * 100%;
}


@for $i from 1 through 12 {
    .grid-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);

        padding: 16px 0px;
        float: left;

        @include responsive(s) {
            width: calc(100% - #{$gutter});
            float: none;
        }
    }
}


@for $i from 1 through 12 {
    .grid-nobreak-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);

        padding: 16px 0px;
        float: left;
    }
}




.container {
    max-width: $container-xl;
    margin: 0 auto;

    padding: 56px 24px;

    //border: 1px solid green;

    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;*/
    //overflow: hidden;
    //position: sticky;

    // clearfix
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @include responsive(s) {
        flex-direction: column;

        padding: 32px 16px;
    }
}




.flex-start-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;


}

.flex-end-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.flex-start-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.flex-end-column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}



.relative {
    position: relative;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1 1 360px;
}

.flex-item-2 {
    flex: 2 1 360px;
}

.flex-item-3 {
    flex: 3 1 360px;
}

.flex-item-4 {
    flex: 4 1 360px;
}

.flex-item-5 {
    flex: 5 1 360px;
}

.flex-auto {
    flex: 1 1 auto;
}

// Width's
.w-auto {
    width: auto;
}

.h-auto {
    height: auto !important;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}


.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(s) {
        padding: 144px 8px 32px 8px;
    }

}

.master-profile {
    img {
        width: 37px;
        height: 37px;
        border: 1px solid rgba(255, 1, 108, 0.5);
        transition: 1s ease;

        &:hover {
            border: 1px solid rgba(255, 1, 107, 0.951);
            border-radius: 3px;
        }
    }

    span {
        color: $white-dark;

        strong {
            color: $gray-7;
            font-weight: bold;
            font-size: 18px;

        }
    }

}

.dns {
    display: inline-flex;
    align-items: center;
    color: $white-normal;
}

//hero grid 2

.bcm {
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 1, 108, 0.24) 0%, rgba(255, 1, 108, 1) 60%, rgba(255, 1, 108, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 48%;
    top: -30%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-transform: capitalize;

    @include responsive(s) {
        font-size: 18px;
    }

}


.text-change {
    display: inline-block;
    color: $white-normal;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 54px;

    @include responsive(s) {
        font-size: 38px;
    }

    @include responsive(xs) {
        font-size: 24px;
    }
}

.dud {
    color: $primary-normal;
    filter: drop-shadow(0 0 0.5em rgb(255, 0, 123));

}

//////////////////////////////////////////////////////

.course-info {

    h1 {
        text-transform: capitalize;
        font-weight: 400;
    }

    p {
        color: $white-dark;
        font-size: 20px;
        font-weight: 300;

        @include responsive(s) {
            font-size: 16px;
        }

        @include responsive(xs) {
            font-size: 14px;
        }
    }


    >div {
        &:first-of-type {
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, #ff016b0a 0%, #ff016bb3 100%);
        }
    }
}

.tech-icons {
    @include responsive(s) {
        flex-direction: column;
    }

    >div {
        margin: 0px 25px 0px 0px;

        @include responsive(s) {
            margin-top: 54px;
        }
    }

    div {
        .tech-icon {
            display: block;
            text-align: center;
            width: 100%;
        }

        &>div {
            color: $white-normal;
            font-size: 20px;
        }

        & p {
            color: $gray-7;
            font-size: 16px;

            @include responsive(xs) {
                font-size: 14px;
            }

        }
    }
}


.logoA {
    stroke-dasharray: 251;
    /* Comprimento total do círculo (2 * PI * raio) */
    stroke-dashoffset: 251;
    /* Começa totalmente desenhado */
    animation: draw 7s linear forwards;
    /* Animação de 2 segundos */
    transition: .4s ease;

    @include responsive(s) {
        width: 190px;
    }

    @include responsive(xs) {
        width: 140px;
    }

}



.g1,
.g3,
.g4 {

    height: 280px;
    padding: 50px;
    border: 1px solid $primary-normal;
    border-radius: 20px;

    >div {
        color: #DBD6EB;
        font-weight: 300;
        font-size: 40px;

    }

    &:hover {
        background: rgb(255, 1, 108);
        background: linear-gradient(25deg, rgba(255, 1, 108, 0) 0%, rgba(255, 1, 107, 0.209) 100%);

    }
}


.g2 {
    height: 280px;
    border: 1px solid $primary-normal;
    border-radius: 20px;

    >div {
        color: #DBD6EB;
        font-weight: 300;
        font-size: 40px;
    }
}






.checkpoint {
    position: relative;
    display: flex;
    padding: 40px 0;
    position: relative;
   
   
    @include responsive(s) {
        border-bottom: 2px solid #ff016b23;
        
        flex-direction: column-reverse;
    }

    &::after {
        content: '';
        bottom: 0;
        left: 50%;
        position: absolute;
        height: 100%;
        width: 1px;
        background: linear-gradient(180deg, rgba(232, 55, 82, 0.00) 1.9%, $primary-normal 54.69%, rgba(232, 55, 82, 0.00) 100%);
        transform: translateX(-50%);
        @include responsive(s) {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        width: 1.3rem;
        height: 1.3rem; 
        background: linear-gradient(270deg, #9F114D -0.06%, #DF4586 122.7%);
        @include responsive(s) {
            display: none;
        }
    }
   
}

.checkpoint:first-child::before {
    background: linear-gradient(180deg, #FF016C -1.09%, rgba(18, 2, 9, 0.00) 97.83%);
    width: 1.6rem;
    height: 1.6rem;     
}


.reverse {
    flex-direction: row-reverse;

    @include responsive(s) {
        justify-content: row;
        flex-direction: column-reverse;
    }
}

.practice-classes {
    display: flex;
    justify-content: flex-end;

    @include responsive(s) {
        justify-content: flex-start;
    }
}
.lf{
    display: flex;
    justify-content: flex-start;


   
}

.info-classes {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    

    .class-duration {
        font-size: 48px;
        color: $white-dark;
      
    }

    .practice {
        font-size: .5rem;
        letter-spacing: 2.1px; 
        text-transform: uppercase;
    }
}


.module-content {
    border: 1px solid $primary-normal;
    border-radius: 4px;
    padding: 50px;
    min-height: 344px; 
    
    
   
    h4 {
        font-weight: 500;
        font-size: 26px; 
        color: $white-dark;
        text-transform: capitalize;
    }

    .module {
        border-radius: 2px;
        padding: 2px 24px;
        text-transform: uppercase;
        background: linear-gradient(270deg, #FF016C -0.01%, rgba(18, 2, 9, 0.00) 92.99%);
        letter-spacing: 2.4px; 
    }

    
}


.info-tittle {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: column; 

    h2 {
        span {
            color: $primary-normal;    
        }
    }
  
}




.lines{
    animation: line1 94s linear infinite forwards alternate;
    @include responsive(s) {
        display: none;
    }
}



.foryou-content {
    display: flex;
    align-items: center;

    @include responsive(s) {
        margin-bottom: 100px;
    }
}

.foryou-tt {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: column; 

    

    span {
        color: $primary-normal;
    }
}

.foryou-if {

    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: column; 

    div {
       text-transform: capitalize;
       font-size: 42px;
       font-weight: 300;
        @include responsive(s) {
            font-size: 32px;
        }
    }
}

.build {
    position: relative;
    p {
        width: 45%;
        margin: 0 auto;
        @include responsive(s) {
            width: auto;
        } 
    }

    .y {
        color: $white-dark;
        padding: 6px 24px;
        text-align: center;
        position: absolute;
        letter-spacing: 1px; 
        border-radius: 4px;
        background: linear-gradient(270deg, rgba(255,1,108,1) -0.06%, rgba(18, 2, 9, 0.00) 122.7%);

        @include responsive(s) {
            display: none;
        }
    }

    .y1 {
        left: 10%;
        top: 0;
    }
    .y2 {
        right: 10%;
        top: 9%;
    }
    .y3 {
        bottom: 20%;
        right: 25%;
    }
}

.start-build{
  display: inline;
  text-align: center;
}

.online-now {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-dark;
    gap: 10px;

    span {
        width: 6px;
        height: 6px; 
        background: linear-gradient(90deg, #71FF01 2.48%, #5ADF45 100%);
        border-radius: 50%;
    }
}


.about {

    h4 {
        display: inline;
    }

    h3 {
        color: #F8D9E6;
        font-weight: 100;
    }

    p {
        color: #AC959F;

        span {
           
        }

        span:nth-of-type(2) {
            color: #C97B9D;
        }
    }
}


.grid-photos {
    height: 890px;

    @include responsive(s) {
        max-height: 400px;
    }
}
.shadow1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 310px;
    z-index: 200;
    background: linear-gradient(180deg, #050004 6.6%, rgba(5, 0, 4, 0.00) 76.34%);
    pointer-events: none;
    @include responsive(s) {
        height: 96px;
    }
}

.shadow2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 310px;
    z-index: 200;
    background: linear-gradient(180deg, rgba(5, 0, 4, 0.00) 0%, #050004 76.34%);
    pointer-events: none;

    @include responsive(s) {
        height: 96px;
    }
}


.grid-photo-1 {
    animation: photos-g1  10s ease infinite alternate;
}
.grid-photo-2 {
    animation:  photos-g2  20s ease infinite alternate;
}

.photo {
    width: 100%;
    border-radius: 10px; 
    filter: grayscale(100%);
    transition: 1s ease;

    &:hover {
        filter: grayscale(0);
    }
}



.check-about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .check  {
        display: flex;
        align-items: center;
         color: $white-dark;
        gap: 24px;
    }
}



.acordbody {
    h2 {
        display: inline;
    }
}

.acordeon {
    @include responsive(s) {
        margin: 0px 24px;
    }

    transition: .4s ease;
    padding: 15px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background: #3d0e23;
        transition: 1.5s ease;
    }
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        left: 0;
        bottom: 0;
        background: linear-gradient(270deg, #FF016C -0.06%, rgba(18, 2, 9, 0.00) 122.7%);
        z-index: 1;
        transition: 1s ease;
    }

    &.active::before {
        width: 100%;
    }

    &.active::after {
        background: transparent;
    }
  
    
}

.acordeon__button {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 32px 0px;
    max-height: 0px;
    transition: .4s ease;
   

    @include responsive(s) {
        margin-left: 0;
    }


    &::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        left: -5%;
        top: 50%;
        transition: .4s ease;
        background: linear-gradient(270deg, #FF016C -0.06%, rgba(18, 2, 9, 0.00) 80.82%);

        @include responsive(s) {
            width: 20px;
        }
        
        @include responsive(xs) {
            display: none;
        }
       
    } 

    &.active::before {

        width: 45px;

        @include responsive(s) {
            width: 25px;
        }

       
    }

    &.active {
        transition: .4s ease;
        margin-left: 3%;
    }

    h4 {
        color: $white-dark;
    }
}

.acordeon__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-left: 4%;
  


}


















//payment
.payment-container {
    display: flex;
    align-items: center;

}


.class-info {
   h4 {
        display: inline;
   }

   h3 {
        color: $white-dark;
   }
}

.icon-vitali{
    display: flex;
}

.text-vitali{
    display: flex;
    align-items: center;
}

.pulsatingcircle{
    display: flex;
    align-items: center;

    p {
        color: $white-dark;
    }
}

.circle-red{
    background: rgba(221, 10, 10, 0.921);
    width: 8px;
    height: 8px;
    border-radius: 50%;   
    animation: pulse 4s linear infinite;
    
}



.icon-polygon{
    display: flex;
    margin-top: 30px;
}

.imgpayment {
    width: 97px;
    height: 97px;
}

.payment {

    margin: 180px 0px;
    /*margin: 0 auto;
    text-aling: center by: oleg*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white-dark;

    .binari {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}



.nextwave {
    display: flex;
    gap: 12px;

    img {
        width: 35px;
    }
 
}















//codesecc final

.codesec-ligth {
    height: 100vh;

    h4 {
        font-size: 64px;
        font-weight: 500;
    }
}

.bar {
    position: absolute;
    height: 30%;
    width: 10px; transition: left 0.5s ease;
    border-radius: 10px;
    left: 40%;
    background: #EDEFF0;
    box-shadow: 0px 0px 201.853px 4.562px
        rgba(232, 55, 82, 0.70), 0px 0px 109.479px 20.527px
        rgba(232, 55, 82, 0.50), 0px 0px 15.966px 1.14px 
        rgba(232, 55, 82, 0.80), 0px 0px 4.562px 1.14px #E83752; 
    z-index: 99;
    
}
