// Layout of project

// Container-devices

$container-xl: 1440px;
$container-l: 1240px;
$container-m: 960px;
$container-s: 620px;
$gutter: 20px;

@mixin responsive($device) {
    @if $device ==xl {

        // For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device ==ul {

        // For resolutions upper 960px
        @media screen and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device ==l {

        // For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }

    @else if $device ==m {

        // For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-s) {
            @content;
        }
    }

    @else if $device ==s {

        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }

    @else if $device ==xs {

        // For resolutions less than 540px
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}


@function grid($col, $total: 12) {
    @return calc($col / $total) * 100%;
}


@for $i from 1 through 12 {
    .grid-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);

        padding: 16px 0px;
        float: left;

        @include responsive(s) {
            width: calc(100% - #{$gutter});
            float: none;
        }
    }
}


@for $i from 1 through 12 {
    .grid-nobreak-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);

        padding: 16px 0px;
        float: left;
    }
}




.container {
    max-width: $container-xl;
    margin: 0 auto;

    padding: 56px 24px;

    //border: 1px solid green;

    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;*/
    //overflow: hidden;
    //position: sticky;

    // clearfix
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @include responsive(s) {
        flex-direction: column;

        padding: 32px 16px;
    }
}




.flex-start-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    
}

.flex-end-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.flex-start-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.flex-end-column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}



.relative {
    position: relative;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1 1 360px;
}

.flex-item-2 {
    flex: 2 1 360px;
}

.flex-item-3 {
    flex: 3 1 360px;
}

.flex-item-4 {
    flex: 4 1 360px;
}

.flex-item-5 {
    flex: 5 1 360px;
}

.flex-auto {
    flex: 1 1 auto;
}

// Width's
.w-auto {
    width: auto;
}

.h-auto {
    height: auto !important;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}


.hero {
    height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;

    @include responsive(s) {
        padding: 144px 8px 32px 8px;
    }
   
}
.master-profile {
    img {
        width: 37px;
        height: 37px;
        border: 1px solid rgba(255, 1, 108, 0.5);
        transition: 1s ease;

        &:hover {
            border: 1px solid rgba(255, 1, 107, 0.951);
            border-radius: 3px;
        }
    }

    span {
        color: $white-dark;
        strong {
            color: $gray-7;
            font-weight: bold;
            font-size: 18px;

        }
    }

}

.dns {
    display: inline-flex;
    align-items: center;
    color: $white-normal; 
}

//hero grid 2

    .bcm {
        position: absolute;
        background: linear-gradient(90deg, rgba(255,1,108,0.24) 0%, rgba(255,1,108,1) 60%, rgba(255,1,108,1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        left: 48%;
        top: -30%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        text-transform: capitalize;

        @include responsive(s) {
            font-size: 18px;
        }
       
    }


.text-change {
    display: inline-block;
    color: $white-normal;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 54px;

    @include responsive(s) {
        font-size: 38px;
    }
    
    @include responsive(xs) {
        font-size: 24px;
    }
}

.dud {
    color: $primary-normal;
    filter: drop-shadow(0 0 0.5em rgb(255, 0, 123));
  
}

//////////////////////////////////////////////////////

.course-info {

    h1 {
        text-transform: capitalize;
        font-weight: 400;
    }
    p {
        color: $white-dark;
        font-size: 20px;
        font-weight: 300;

        @include responsive(s) {
            font-size: 16px;
       }
        @include responsive(xs) {
            font-size: 14px;
       }
    }
 

    > div {
        &:first-of-type {
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, #ff016b0a 0%, #ff016bb3 100%);        
        }
    }
}

.tech-icons {
   @include responsive(s) {
        flex-direction: column;
   }
  
   > div {
        margin: 0px 25px 0px 0px;  

        @include responsive(s) {
            margin-top: 54px;
       }
    }

    div { 
        .tech-icon {
            display: block;
            text-align: center;
            width: 100%;
        }
        & > div {
            color: $white-normal;
            font-size: 20px;
        }

        & p {
            color: $gray-7;
            font-size: 16px;

            @include responsive(xs) {
                font-size: 14px;
           }
            
        }
    }
}


.logoA {
    stroke-dasharray: 251; /* Comprimento total do círculo (2 * PI * raio) */
    stroke-dashoffset: 251; /* Começa totalmente desenhado */
    animation: draw 7s linear  forwards; /* Animação de 2 segundos */
    transition: .4s ease;

    @include responsive(s) {
       width: 190px;
   }

    @include responsive(xs) {
       width: 140px;
   }
    
}



.g1, .g3, .g4 {
    
    height: 280px;
    padding: 50px;
    border: 1px solid $primary-normal;
    border-radius: 20px;
   
    > div {
        color: #DBD6EB;
        font-weight: 300;
        font-size: 40px;
        
    }
    
    &:hover {
        background: rgb(255,1,108);
        background: linear-gradient(25deg, rgba(255,1,108,0) 0%, rgba(255, 1, 107, 0.209) 100%);

    }
}


.g2 {
    height: 280px;
    border: 1px solid $primary-normal;
    border-radius: 20px;
    > div {
        color: #DBD6EB;
        font-weight: 300;
        font-size: 40px;
    }
}




